.ant-menu {
  transition: none;

  .anticon {
    vertical-align: 0;
  }

  .ant-menu-title-content {
    transition: none;

    a {
      transition: none;
    }
  }
}

.ant-transfer-list {
  flex: 1;
}

/* 核心斑马条纹样式 */
.ant-table-tbody {
  tr.ant-table-row:nth-child(even) {
    background-color: #fafafa;
  }

  tr.ant-table-row:nth-child(odd) {
    background-color: #ffffff;
  }  

  /* 斑马条纹与边框样式结合 */
  tr.ant-table-row {
    border-bottom: 1px solid #f0f0f0;
  }

  /* 斑马条纹与边框样式结合 */
  tr.ant-table-row {
    border-bottom: 1px solid #f0f0f0;
  }
}
